.feedback-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.form-input {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
}

.form-inpu:hover {
    border: 1px solid #000;
}

.form-textarea {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 80px;
}

.form-textarea:hover {
    border: 1px solid #000;
}

.form-btn {
    border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;
    background: #4e75ff;
    border: none;
    margin-top: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

.form-btn:hover {
    background: #6c8cff;
}